bcrypt==4.0.1
email-validator==2.0.0
flask==3.0.0
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Migrate==4.0.5
flask-sqlalchemy==3.1.1
flask-wtf==1.2.1
psycopg2-binary==2.9.9
python-dotenv==1.0.0
SQLAlchemy==2.0.23
typing-extensions==4.8.0
wtforms==3.1.1

