body{
    margin: 3rem;
}
.card-img-top{
    width: 65%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.card{
    padding: 1.5rem .5rem .5rem;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.card-title{
    font-weight: bold;
    font-size: 1.5rem;
}

.btn-primary {
    border-radius: 2rem;
    padding: .5rem 1.5rem;
    box-shadow: 0 5px 10px rgba(7, 7, 177, 0.2);
}
.pb-2{
    color: rgb(175, 127, 37);
}